In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

pd.set_option("display.max_rows", 30)
pd.set_option("display.max_columns", 50)

In [2]:
TRAIN_DATA_PATH = './data/train_data.csv'
TRAIN_TARGET_PATH = './data/train_target.csv'
TEST_DATA_PATH = './data/test_data.csv'
TEST_TARGET_PATH = './data/test_target.csv'

In [3]:
data = pd.read_csv(TRAIN_DATA_PATH)
target = pd.read_csv(TRAIN_TARGET_PATH)

Соединяю data и target для дальнейщей обработки

In [4]:
df = pd.concat([data, target], axis=1)
df.head()

,n_rooms,territorial_division,district,total_area,living_space,kitchen_area,floor,total_floors,year_of_built,celling_height,renovation_type,outside_view,n_balconies,n_loggias,n_sep_bathrooms,n_comb_bathrooms,building_type,overlap_type,n_pass_lifts,n_serv_lifts,heating_type,home_emergency,parking_type,garbage_chute,mins_to_subway_by_walk,mins_to_subway_by_car,mins_to_subway_by_trans,price
0,3.0,ЦАО,Пресненский,132.0,NaN,NaN,2,13,2017.0,NaN,Дизайнерский,Во двор,0,0,0,2,Монолитный,Железобетонные,0,0,Центральное,Нет,Подземная,NaN,10.0,NaN,NaN,130000000.0
1,2.0,ЗАО,Тропарево-Никулино,58.4,37.0,10.0,15,16,1972.0,NaN,Евроремонт,Во двор,0,0,0,1,Панельный,Железобетонные,0,0,Центральное,Нет,NaN,Есть,10.0,NaN,NaN,18700000.0
2,1.0,СЗАО,Митино,27.5,17.0,5.0,3,9,1999.0,2.7,Косметический,Во двор,0,0,0,1,Панельный,Железобетонные,0,0,Центральное,Нет,NaN,NaN,20.0,NaN,NaN,7699000.0
3,2.0,СВАО,Лианозово,56.2,31.6,10.0,14,17,NaN,NaN,NaN,NaN,0,0,1,0,Кирпичный,Железобетонные,0,0,Центральное,Нет,NaN,NaN,17.0,NaN,17.0,12700000.0
4,2.0,ЗАО,Тропарево-Никулино,65.2,NaN,NaN,6,21,NaN,NaN,Евроремонт,NaN,0,0,0,1,Монолитный,Железобетонные,0,0,Индивидуальный тепловой пункт,Нет,Многоуровневая,NaN,10.0,NaN,NaN,26000000.0

In [5]:
df.shape

(29211, 28)

Сразу разбиваю на тенировочный и валидационный датасеты

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
train, valid = train_test_split(df, test_size=0.3, random_state=27)

Обрабатываю данные датасета X_train

In [8]:
train.shape

(20447, 28)

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20447 entries, 10086 to 5139
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   n_rooms                  20446 non-null  float64
 1   territorial_division     20447 non-null  object
 2   district                 20097 non-null  object
 3   total_area               20447 non-null  float64
 4   living_space             16781 non-null  float64
 5   kitchen_area             17590 non-null  float64
 6   floor                    20447 non-null  int64
 7   total_floors             20447 non-null  int64
 8   year_of_built            15064 non-null  float64
 9   celling_height           11872 non-null  float64
 10  renovation_type          18874 non-null  object
 11  outside_view             15840 non-null  object
 12  n_balconies              20447 non-null  int64
 13  n_loggias                20447 non-null  int64
 14  n_sep_bathrooms          20447 non-null  int64
 15  n_comb_bathrooms         20447 non-null  int64
 16  building_type            17714 non-null  object
 17  overlap_type             14440 non-null  object
 18  n_pass_lifts             20447 non-null  int64
 19  n_serv_lifts             20447 non-null  int64
 20  heating_type             14749 non-null  object
 21  home_emergency           16534 non-null  object
 22  parking_type             7440 non-null   object
 23  garbage_chute            11224 non-null  object
 24  mins_to_subway_by_walk   15463 non-null  float64
 25  mins_to_subway_by_car    0 non-null      float64
 26  mins_to_subway_by_trans  8744 non-null   float64
 27  price                    20447 non-null  float64
dtypes: float64(10), int64(8), object(10)
memory usage: 4.5+ MB

Удаляю признак mins_to_subway_by_car, т.к. в нем нет ни одного значения

In [11]:
train = train.drop('mins_to_subway_by_car', axis=1)

Вывожу количества значений по каждому признаку

In [13]:
for column in train.columns:
    print(f'Столбец {column}:\n')
    print(train[column].value_counts())
    print('\n' + '*'*30)

Столбец n_rooms:

2.0    7971
3.0    7282
1.0    5187
4.0       4
5.0       2
Name: n_rooms, dtype: int64

******************************
Столбец territorial_division:

 ЦАО                                   3053
 ЗАО                                   2895
 САО                                   2030
 НАО (Новомосковский)                  1927
 ЮАО                                   1807
 СВАО                                  1796
 ЮЗАО                                  1757
 ЮВАО                                  1706
 ВАО                                   1688
 СЗАО                                  1390
 ТАО (Троицкий)                         227
 ЗелАО                                  165
 Раменский городской округ                3
 р-н Крюково                              2
 Сергиево-Посадский городской округ       1
Name: territorial_division, dtype: int64

******************************
Столбец district:

поселение            1365
Пресненский          1004
Раменки               692
Хорошево-Мневники     620
Хамовники             522
                     ...
Рязановское             9
Восточный               6
Тельмана поселок        3
Посад-15 городок        1
ул.                     1
Name: district, Length: 134, dtype: int64

******************************
Столбец total_area:

38.00     339
45.00     325
60.00     319
40.00     283
39.00     269
         ...
136.30      1
22.60       1
93.67       1
209.00      1
101.60      1
Name: total_area, Length: 1480, dtype: int64

******************************
Столбец living_space:

20.0     591
30.0     518
19.0     505
18.0     399
32.0     371
        ...
91.5       1
68.9       1
153.0      1
107.5      1
70.5       1
Name: living_space, Length: 762, dtype: int64

******************************
Столбец kitchen_area:

6.0     1795
10.0    1656
9.0     1051
8.0      836
12.0     672
        ...
30.4       1
26.1       1
40.7       1
46.3       1
44.9       1
Name: kitchen_area, Length: 322, dtype: int64

******************************
Столбец floor:

2     2228
3     2021
4     1836
5     1746
1     1601
      ...
56       1
64       1
80       1
76       1
73       1
Name: floor, Length: 77, dtype: int64

******************************
Столбец total_floors:

9     2993
17    1968
5     1966
12    1960
14    1284
      ...
80       2
63       2
99       1
71       1
72       1
Name: total_floors, Length: 80, dtype: int64

******************************
Столбец year_of_built:

2020.0    864
2021.0    716
2019.0    587
2018.0    550
2017.0    452
         ...
1880.0      1
1883.0      1
1901.0      1
1899.0      1
1830.0      1
Name: year_of_built, Length: 130, dtype: int64

******************************
Столбец celling_height:

2.64     3465
3.00     1781
2.70      989
2.80      705
3.20      608
         ...
3.36        1
1.70        1
71.00       1
3.02        1
41.00       1
Name: celling_height, Length: 138, dtype: int64

******************************
Столбец renovation_type:

Косметический    7273
Евроремонт       4533
Без ремонта      4044
Дизайнерский     3024
Name: renovation_type, dtype: int64

******************************
Столбец outside_view:

Во двор            8869
На улицу и двор    3992
На улицу           2979
Name: outside_view, dtype: int64

******************************
Столбец n_balconies:

0    20447
Name: n_balconies, dtype: int64

******************************
Столбец n_loggias:

0    20447
Name: n_loggias, dtype: int64

******************************
Столбец n_sep_bathrooms:

0    10858
1     8513
2     1002
3       73
4        1
Name: n_sep_bathrooms, dtype: int64

******************************
Столбец n_comb_bathrooms:

0    10446
1     7875
2     1907
3      211
4        8
Name: n_comb_bathrooms, dtype: int64

******************************
Столбец building_type:

Монолитный             6485
Панельный              5537
Кирпичный              3697
Блочный                1421
Монолитно кирпичный     543
Сталинский               19
Деревянный                6
Старый фонд               3
Каркасный                 1
Щитовой                   1
Газобетонный блок         1
Name: building_type, dtype: int64

******************************
Столбец overlap_type:

Железобетонные    13827
Деревянные          381
Смешанные           232
Name: overlap_type, dtype: int64

******************************
Столбец n_pass_lifts:

0    20447
Name: n_pass_lifts, dtype: int64

******************************
Столбец n_serv_lifts:

0    20447
Name: n_serv_lifts, dtype: int64

******************************
Столбец heating_type:

Центральное                      13535
Индивидуальный тепловой пункт      751
Автономная котельная               350
Котел/Квартирное отопление          55
Нет                                 55
Печь                                 3
Name: heating_type, dtype: int64

******************************
Столбец home_emergency:

Нет    16534
Name: home_emergency, dtype: int64

******************************
Столбец parking_type:

Наземная          3859
Подземная         2693
Открытая           446
Многоуровневая     442
Name: parking_type, dtype: int64

******************************
Столбец garbage_chute:

Есть    9485
Нет     1739
Name: garbage_chute, dtype: int64

******************************
Столбец mins_to_subway_by_walk:

10.0    1750
5.0     1407
15.0    1177
7.0     1162
8.0     1015
        ...
59.0       1
61.0       1
48.0       1
75.0       1
52.0       1
Name: mins_to_subway_by_walk, Length: 64, dtype: int64

******************************
Столбец mins_to_subway_by_trans:

4.0     1854
5.0     1653
3.0     1491
6.0      699
10.0     614
        ...
32.0       2
72.0       1
64.0       1
47.0       1
80.0       1
Name: mins_to_subway_by_trans, Length: 42, dtype: int64

******************************
Столбец price:

12500000.0     444
13000000.0     305
10500000.0     247
12000000.0     247
11500000.0     234
              ...
16499999.0       1
28999000.0       1
7299000.0        1
29885000.0       1
118150000.0      1
Name: price, Length: 2556, dtype: int64

******************************

Удаляю записи с 4 и 5 комнатами, т.к. их не должно быть в датасете

In [15]:
train = train.loc[train.n_rooms <= 3.0, :]

В territorial_division каждое значение начинается с пробела. Удалю его

In [17]:
def remove_spaces(value):
    return value[1:]

In [18]:
train.territorial_division = train.territorial_division.apply(remove_spaces)

Удаляю записи со значением признака territorial_division "Раменский городской округ" и "Сергиево-Посадский городской округ", т.к. это не Москва

In [19]:
train = train.loc[train.territorial_division != 'Раменский городской округ', :]

In [20]:
train = train.loc[train.territorial_division != 'Сергиево-Посадский городской округ', :]

Удаляю столбцы n_balconies, n_loggias, n_pass_lifts, n_serv_lifts и home_emergency, т.к. они имеют только одно значение и не несут никакой информации

In [21]:
train = train.drop(['n_balconies', 'n_loggias', 'n_pass_lifts', 
                    'n_serv_lifts', 'home_emergency'], axis=1)

### Обработка пропущенных значений

In [22]:
# Количество пропущенных значений по каждому признаку
train.isna().sum()

n_rooms                        0
territorial_division           0
district                     350
total_area                     0
living_space                3662
kitchen_area                2852
floor                          0
total_floors                   0
year_of_built               5379
celling_height              8569
renovation_type             1570
outside_view                4604
n_sep_bathrooms                0
n_comb_bathrooms               0
building_type               2731
overlap_type                6004
heating_type                5693
parking_type               13000
garbage_chute               9215
mins_to_subway_by_walk      4977
mins_to_subway_by_trans    11696
price                          0
dtype: int64

district

In [38]:
print(train.loc[train.territorial_division == 'ТАО (Троицкий)', 'district'].mode()[0])
print(train.loc[train.territorial_division == 'НАО (Новомосковский)', 'district'].mode()[0])

поселение
поселение

In [39]:
# присваиваю пропущенным значениям значениt 'поселение'
train.loc[train.district.isna(), 'district'] = 'поселение'

living_space

In [52]:
train.groupby(by=['total_area'])[['living_space',  'kitchen_area']].median().reset_index()

      total_area  living_space  kitchen_area
0            9.6           NaN           NaN
1           10.1           6.0           3.0
2           10.9           7.0           NaN
3           11.0           NaN           NaN
4           11.2           8.5           2.0
...          ...           ...           ...
1472       299.0         100.0          20.0
1473       360.0         177.0          25.0
1474       440.0           NaN           NaN
1475       443.0           NaN           NaN
1476       640.0         512.0           NaN

[1477 rows x 3 columns]

In [53]:
median_by_total_area = train.groupby(by=['total_area'])[['living_space', 
                                                         'kitchen_area']].median().reset_index()

In [57]:
median_by_total_area[median_by_total_area.total_area == 97.0]

     total_area  living_space  kitchen_area
922        97.0          54.0          16.0

In [49]:
train.loc[train.living_space.isna()]

,n_rooms,territorial_division,district,total_area,living_space,kitchen_area,floor,total_floors,year_of_built,celling_height,renovation_type,outside_view,n_sep_bathrooms,n_comb_bathrooms,building_type,overlap_type,heating_type,parking_type,garbage_chute,mins_to_subway_by_walk,mins_to_subway_by_trans,price
10086,1.0,НАО (Новомосковский),дп,42.0,NaN,NaN,2,17,2011.0,NaN,Косметический,NaN,1,0,Монолитный,Железобетонные,Центральное,NaN,Нет,NaN,15.0,8000000.0
4789,1.0,ВАО,Гольяново,31.2,NaN,NaN,4,9,1965.0,2.64,Косметический,На улицу и двор,0,1,Блочный,Железобетонные,Центральное,NaN,Есть,9.0,5.0,8700000.0
3453,2.0,ЦАО,Пресненский,97.0,NaN,NaN,10,78,2020.0,NaN,Дизайнерский,На улицу,1,1,Монолитный,NaN,NaN,NaN,NaN,5.0,NaN,58000000.0
28208,2.0,ЮВАО,Рязанский,57.0,NaN,12.0,2,15,NaN,2.50,Без ремонта,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14350000.0
26043,1.0,НАО (Новомосковский),поселок,34.3,NaN,8.0,9,17,2015.0,2.70,Косметический,NaN,1,0,Монолитный,Железобетонные,Центральное,NaN,NaN,NaN,NaN,8499000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11829,3.0,ЗАО,Раменки,170.0,NaN,NaN,3,6,NaN,NaN,Без ремонта,NaN,0,0,Монолитный,NaN,NaN,NaN,NaN,19.0,4.0,118150000.0
19955,3.0,ЗАО,Раменки,144.0,NaN,NaN,3,17,2006.0,3.00,Дизайнерский,Во двор,1,2,Монолитно кирпичный,NaN,NaN,Подземная,Есть,14.0,NaN,62900000.0
14495,2.0,САО,Сокол,65.7,NaN,10.0,4,9,1953.0,NaN,Косметический,Во двор,1,0,Кирпичный,Смешанные,Центральное,NaN,Есть,2.0,NaN,27000000.0
27310,3.0,СВАО,Бутырский,90.4,NaN,NaN,31,46,NaN,3.00,Без ремонта,На улицу и двор,1,0,Монолитный,NaN,NaN,Подземная,NaN,13.0,4.0,29500000.0
15897,2.0,НАО (Новомосковский),поселение,59.8,NaN,NaN,24,25,2021.0,NaN,Без ремонта,На улицу,0,2,Монолитный,NaN,NaN,Многоуровневая,Нет,22.0,NaN,12900000.0