## Данный ноутбук считывает данные из базы данные MongoDB и сохраняет их в виде файлов .csv

In [37]:
import os
import dotenv
import pymongo
import pandas as pd
from sklearn.model_selection import train_test_split
pd.set_option('display.max_columns', None)

dotenv.load_dotenv('.env')

True

In [21]:
# подключаюсь к базе данных
client = pymongo.MongoClient(os.getenv('DATA_BASE'))
db = client['moscow']
collection_1 = db['cian_1_room']
collection_2 = db['cian_2_rooms']
collection_3 = db['cian_3_rooms']

In [22]:
# считываю данные из соответствующий коллекций и сохраняю их в pandas DataFrame
cian_1_room = collection_1.find()
df_1 = pd.DataFrame.from_records(cian_1_room)
df_1 = df_1.drop('_id', axis=1)

cian_2_rooms = collection_2.find()
df_2 = pd.DataFrame.from_records(cian_2_rooms)
df_2 = df_2.drop('_id', axis=1)

cian_3_rooms = collection_3.find()
df_3 = pd.DataFrame.from_records(cian_3_rooms)
df_3 = df_3.drop('_id', axis=1)

In [23]:
df_1.head(3)

,n_rooms,territorial_division,district,total_area,living_space,kitchen_area,floor,total_floors,year_of_built,celling_height,renovation_type,outside_view,n_balconies,n_loggias,n_sep_bathrooms,n_comb_bathrooms,building_type,overlap_type,n_pass_lifts,n_serv_lifts,heating_type,home_emergency,parking_type,garbage_chute,mins_to_subway_by_walk,mins_to_subway_by_car,mins_to_subway_by_trans,price
0,1,ЮАО,Нагорный,16.6,13.7,,3,3,,3.4,Евроремонт,Во двор,0,0,0,1,Монолитный,,0,0,,,,,6,,7,4937000.0
1,1,НАО (Новомосковский),поселение,32.8,15.0,10.7,9,14,2020,2.7,Косметический,На улицу,0,0,0,1,Монолитный,,0,0,,,Открытая,Есть,,,,7400000.0
2,1,ЮАО,Бирюлево Восточное,33.5,15.3,7.4,11,17,2002,2.65,Косметический,Во двор,0,0,1,0,Монолитный,Железобетонные,0,0,Центральное,Нет,Открытая,Есть,,,10,7993000.0

In [34]:
df_1.head(3)

,n_rooms,territorial_division,district,total_area,living_space,kitchen_area,floor,total_floors,year_of_built,celling_height,renovation_type,outside_view,n_balconies,n_loggias,n_sep_bathrooms,n_comb_bathrooms,building_type,overlap_type,n_pass_lifts,n_serv_lifts,heating_type,home_emergency,parking_type,garbage_chute,mins_to_subway_by_walk,mins_to_subway_by_car,mins_to_subway_by_trans,price
0,1,ЮАО,Нагорный,16.6,13.7,,3,3,,3.4,Евроремонт,Во двор,0,0,0,1,Монолитный,,0,0,,,,,6,,7,4937000.0
1,1,НАО (Новомосковский),поселение,32.8,15.0,10.7,9,14,2020,2.7,Косметический,На улицу,0,0,0,1,Монолитный,,0,0,,,Открытая,Есть,,,,7400000.0
2,1,ЮАО,Бирюлево Восточное,33.5,15.3,7.4,11,17,2002,2.65,Косметический,Во двор,0,0,1,0,Монолитный,Железобетонные,0,0,Центральное,Нет,Открытая,Есть,,,10,7993000.0

In [25]:
df_2.head(3)

,n_rooms,territorial_division,district,total_area,living_space,kitchen_area,floor,total_floors,year_of_built,celling_height,renovation_type,outside_view,n_balconies,n_loggias,n_sep_bathrooms,n_comb_bathrooms,building_type,overlap_type,n_pass_lifts,n_serv_lifts,heating_type,home_emergency,parking_type,garbage_chute,mins_to_subway_by_walk,mins_to_subway_by_car,mins_to_subway_by_trans,price
0,2,ВАО,Новогиреево,38.0,23.1,6.0,3,14,1971,2.5,Косметический,На улицу,0,0,1,0,Панельный,Железобетонные,0,0,Центральное,Нет,Открытая,Есть,,,2,9600000.0
1,2,ЗелАО,Матушкино,46.8,31.1,9.2,4,12,1965,2.7,Косметический,Во двор,0,0,0,1,Панельный,Железобетонные,0,0,Центральное,Нет,Открытая,Есть,,,33,8750000.0
2,2,НАО (Новомосковский),поселение,58.3,32.2,14.0,1,12,2021,2.68,Без ремонта,На улицу,0,0,1,0,Монолитный,,0,0,,,Открытая,Есть,,,7,9980000.0

In [26]:
df_3.head(3)

,n_rooms,territorial_division,district,total_area,living_space,kitchen_area,floor,total_floors,year_of_built,celling_height,renovation_type,outside_view,n_balconies,n_loggias,n_sep_bathrooms,n_comb_bathrooms,building_type,overlap_type,n_pass_lifts,n_serv_lifts,heating_type,home_emergency,parking_type,garbage_chute,mins_to_subway_by_walk,mins_to_subway_by_car,mins_to_subway_by_trans,price
0,3,ЮАО,Даниловский,77.0,66.0,8.0,3,4,2017,,Без ремонта,Во двор,0,0,0,2,Монолитный,,0,0,,Нет,Наземная,,8,,,9750000.0
1,3,ЮАО,Даниловский,42.0,,,4,4,2017,,Дизайнерский,,0,0,0,2,Монолитный,,0,0,,Нет,,,8,,,9999999.0
2,3,САО,Головинский,62.3,39.1,8.5,1,12,1977,2.65,Косметический,Во двор,0,0,1,0,Панельный,Железобетонные,0,0,Центральное,Нет,Открытая,Есть,,,9,12980000.0

In [35]:
# объединяю данные в один датафрейм
df = pd.concat([df_1, df_2, df_3])

In [36]:
df.shape

(41730, 28)

In [38]:
# отделяю целевую переменную
data = df.drop('price', axis=1)
target = df.price

In [46]:
# разбиваю на тренировочный и тестовый датафреймы
train_data, test_data, train_target, test_target = train_test_split(data, target, test_size=0.3)

In [51]:
# сохраняю в виде файлов .csv для дальнейшего использования
train_data.to_csv('./data/train_data.csv', index=False)
test_data.to_csv('./data/test_data.csv', index=False)
train_target.to_csv('./data/train_target.csv', index=False)
test_target.to_csv('./data/test_target.csv', index=False)